.news-header{
  text-align: center;
}
.btn-primary{
  background-color: transparent;
  border: none;
}
.cart-page{
  display: flex;
  
}
.productContainer-cart{
  width: 70%;
}
.filter-summary{
  width: 20%;
  background: black;
  color: beige;
  padding: 40px;
  height: 100vh;
}
.three-dots{
  display: flex;
  justify-content: space-between;
}
.cart-img{
  width: 50px;
  height: 50px;
}
.our-product-title{
  padding: 30px;
  text-align: center;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

